
.footer{
  height:450px;
  
}
.footer .footerbackground{
    width:1600px;
    height:450px;
    
    filter: brightness(65%);
    position:relative;
    z-index:0;
    
}
.footer .greenFlap{
    background: linear-gradient(90deg, #00FE5E 16.31%, #09AF46 80.62%);
    width:90%;
    height:205px;
    position:;
    z-index:10;
    margin-top:-570px;
    margin-left:775px;
    border-radius:20px;
    display:flex;
    transform: translateX(-50%); 
  
}
.footer .greenFlap::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border: 4px dotted white; /* White dotted border */
    border-radius: 15px; /* Slightly smaller border radius */
    pointer-events: none; /* Prevents interaction */
    z-index:-1;
}
.footer .greenFlap .para{
   margin:50px ;
   color:white;
   font-size:30px;
   font-weight:500;
   font-family: 'Montserrat', sans-serif;
   padding-right:500px;
}
.footer .greenFlap .greenVC{
    top:28px;
    position:absolute;
    z-index:-1;
    margin-left:-490px;
}
.footer .greenFlap .Mt{
    top:0px;
    position:absolute;
    z-index:-1;
    margin-left:-480px;
}
.footer .greenFlap .Hm{
    top:-49px;
    position:absolute;
    z-index:-1;
    margin-left:-490px;
}
.footer .greenFlap .blue-button{
    background-color:#003973;
    color:white;
    position:absolute;
   left:1090px;
   top:60px;
}
.footer .greenFlap .blue-button{
    display:flex;
    justify-content:center;
    border-radius:300px;
    cursor:pointer;
    font-family: 'Montserrat', sans-serif;
    padding:20px;
    font-size:15px;
    
}
.footer .greenFlap .blue-button .headset2{
    padding:5px;
    width:30px;
    height:30px;
    border-radius:50%;
}

.second {
 
  display:flex;
  flex-direction:row;
 top:-23vh;
  position:relative;
  color:white;
}
.footer .second .firstElement{
    margin-left:45px;
    margin-top:-300px;
    line-height:50px;
    margin-right:60px;
    
}
.footer .second .firstElement .symbol{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-top:500px;
    display:flex;
    gap:40px;
    color: #00FE5E; 
    position:absolute;
}
.footer .second .firstElement  .company{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #00FE5E; 
    position:absolute;
   line-height:40px;
    margin-left:60px;
   
}
.footer .second .firstElement img {
   
  margin-top:10px;
  height:60px;
}

.footer .second .firstElement .para{
    padding:0px 20px 0px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    position:absolute;
    margin-top:600px;
    line-height:20px;
    margin-left:0px;
    
}
.footer .second .call{
line-height:45px;  
  display:flex;
position:absolute;
margin-top:300px;
margin-left:500px;
}
.footer .second .call .caps{
    margin-top:-75px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    position:relative
}
.footer .second .call .name{
    margin-top:19px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    position:relative;
}
.footer hr{
    border:1px solid #FFFFFF;
    position:relative;
    margin-top:280px;
    width:100%;
  
}
.footer .third{
    display:flex;
    position:relative;
    margin-top:25px;
    margin-left:600px;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    color:white;
    font-size:12px;
    
}
.footer .third .name{
    color:#86BB46;
    
}
.footer .second .call .three{
    margin-left:100px;
    margin-top:-10px;
    display:flex;
    justify-content:space-between;
    gap:100px;
}
@media (max-width: 768px) {
    .footer {
      height: auto;
      
      text-align: center;

    }
  
    .footer .footerbackground {
      width: 100%;
      height: 350px;
      filter: brightness(65%);
    }
  
    .footer .greenFlap {
      width: 80%;
      height: 100px;
      margin: -400px 250px 20px;
      padding: 20px;
      border-radius: 15px;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      display:none;
    }
  
    .footer .greenFlap .para {
      font-size: 18px;
      padding: 0;
      margin-bottom: 10px;
    }
  
    .footer .greenFlap .greenVC,
    .footer .greenFlap .Mt,
    .footer .greenFlap .Hm {
      width: 50px; 
      height: auto;
      position: static;
      margin: 5px;
    }
  
    .footer .greenFlap .blue-button {
      left: auto;
      top: auto;
      margin: 15px auto;
      padding: 10px 15px;
      font-size: 10px;
    }
  
    .footer .greenFlap .blue-button .headset2 {
      width: 25px;
      height: 25px;
    }
  
    .second {
      flex-direction: column;
      align-items: center;
      text-align: center;
      top: auto;
    }
  
    .footer .second .firstElement {
      margin-top: -820px ;
      margin-left: -350px;
    }
  
    .footer .second .firstElement .symbol .company {
      font-size: 20px;
      line-height:24px;
      
    }
    .footer .second .firstElement .symbol img{
        margin-top:0px;
      height:50px;
      width:40px;
    }
  
    .footer .second .firstElement .para {
      font-size: 16px;
      display:none;
    }
  
    .footer .second .call {
      margin: -160px auto;
      margin-left:-300px;
      line-height: normal;
      font-size:14px;
    }
    .footer .second .call .caps{
      font-size:15px;
      margin-left:140px;
    }
    .footer .second .call .name{
      font-size:15px;
      display:none;
    }
    .footer hr {
      margin: -50px auto;
      width: 100%;
    }
  
    .footer .third {
      flex-direction: row;
      align-items: center;
      text-align: center;
      margin-top:65px;
      font-size:12px;
      margin-left:60px;
    }
  
    .footer .second .call .three{
        display:flex;
        flex-direction:column;
        margin-left:-90px;
        margin-top:-40px;
        gap:20px;
       
    }
    .footer .second .call .three .t1{
      font-size:15px;
      margin-left:0px;
    }
    .footer .second .call .three .t2{
      font-size:15px;
      margin-left:-140px;
    }

  }
  
