.contactImage {
    width: 100vw;  /* Full width */
    height: 100vh; /* Full height */
    object-fit: cover; /* Ensures image covers the screen */
}

@media(max-width: 768px){
    .contactImage{
        height:80vh;
    }
}
