
.contact3{
  margin-left:100px;
 height:100vh;
 margin-right:100px;
 margin-top:-100px;
 margin-bottom:100px;
}
.contact3 .frame{
  margin-top: -100px;
}
.contact3 iframe{
  width:100%;
  height:600px;
}

@media (max-width: 767px) {
  .contact3 {
    margin-top:-100vh;
    height:100vh;
    margin-bottom:-300px;
    
  }
  .contact3 iframe{
    width:130%;
    height:350px;
    margin-top:-50px;
    margin-left:-40px;
   
  }
}