
.about3{
    padding:80px;
    background-color:white;
    display:flex;
    justify-content:center;
    text-align:center;
 
    gap:100px;
    background-color:white;
    height:500px;
  }
  .about3 .block1{
    display:flex;
    justify-content:space-between;
    gap:30px;
    margin-left:60px;
    
  }
 
  .about3 .block1 .small{
    margin-left:100px;
  }
  .about33 img{
    width:20px;
    margin-top:-10px;
    margin-left:800px!important;
    position:absolute;
  }
  .about3 .block1 .num{
  display:flex;
  
  }
  .about3 .block2 {
    display:flex;
    justify-content:space-between;
    gap:20px;
    margin-left:-100px;
  }
    
  
  .about3  .num {
    color:#003973;
    margin-top:20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: 500;
   
  }

  .about3 .text{
    color:#5C6972;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
   margin-top:8px;
    
  }
  .about3  .same{
    color:#003973;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding-left:5px;
   
  }
  .vertical-line{
    border-left:1px solid #C0C0C0;
    height:300px;
    margin-top:-80px; margin-right:130px;
  }
  .about33{
    padding-bottom:200px;
  }
  .horizontal-line{
    border-bottom:1px solid #C0C0C0;
    margin-top:-200px;
    width:1025px;
    margin-left:250px;
  }

 
    .about3 {
     
        padding: 30px 10px;
        gap: 30px;
      }
    
      .about3 .block2 .num {
        padding-left: -20px;
      }
      
      .about3 .block2 .same,
       {
        font-size: 12px;
        font-weight: 600;
        margin-top:10px;
        padding-left:100px;
    
      }
      .about3 .text{
        font-size: 12px;
        font-weight: 600;
        margin-top:100px;
        padding-right: 30px;
        padding-left: -30px;
        display:none
      }
    
      .horizontal-line {
        width: 65%;
        margin-top:-295px;   
        margin-left:200px;
      }
       .vertical-line{
       margin-top:-30px;
       height:200px;
      }
      .about33 img {
        width: 15px;
        margin-top:-10px!important;
        margin-left:670px!important;
      }
    
      .about3 .small1{
        margin-left:0px;
      }
    
      .about3 .small2{
        margin-left:0px;
      }
      .about3 .block1{
       margin-left:-120px;
       
      }
      .about33 img{
       margin-top:-30px;
       margin-left:200px;
       
      }
      @media(max-width:768px){
        .about3{
          margin-left:260px;
        }
        .about3 .block2{
          margin-left:-150px;
        }
        .about33 img{
          margin-top:-300px;
          margin-left:-700px!important;
        }
        .horizontal-line{
          margin-left:70px;
          
          width:255px;
        }
      }
      
  