
.bannerimage{
  width:120%;
  height:100vh;;
}
.banner{
  height:100vh;
}

@media(max-width:486px){
  .banner{
max-height:90vh;
  }
  .bannerimage{
    max-height:90vh;
   }
}
@media(max-height:800px) and (min-height:600px){
  .banner{
    max-height:100vh;
     }
     .bannerimage{
      max-height:100vh;
     }
}

