
.banner .banner-image{
  width:100%;
min-height:80vh;
left: 0px;
top: 0px;

}
@media (max-width: 768px) {
  .banner{
  height:80vh;
  }
  .banner-image {
    width: 100%; 
    max-width: none;
    height:500px!important; 
  }
}
