@media (min-width: 1024px){
.banner .banner-image{
    width:100%;
  height:100vh;
  left: 0px;
  top: 0px;
  }
  .banner-image {
    width: 100%; /* Make it larger on smaller screens */
    max-width: none; /* Allow full scaling */
}}
@media (max-width: 768px) {
    .banner-image {
      width: 100%; 
      max-width: none;
      height:550px !important; 
    }
  }
