
.section4_1{
    background-color:white;
    height:100vh;
    padding:100px;
    height:150vh;
    background: linear-gradient(180deg, #FFFFFF 0%, #E7F8F0 100%);
  }
  
  .section4_1 .over-line .wt:hover,.section4_1 .over-line .imm:hover{
    cursor:pointer;
    color:#86BB46;
    
  }
  
  .section4_1 .content .heading{
     color:#86BB46;
     font-family: 'Montserrat', sans-serif;
     font-size:24px;
     display:flex;
     justify-content:center;
     padding-bottom:20px;
    }
   
  
  
    .section4_1 .content .sub-heading{
      display:flex;
      justify-content:center;
      color:black;
      font-family: 'Montserrat', sans-serif;
      font-size:40px;
     }
     .section4_1 .over-line{
      display:flex;
      padding:20px;
      gap:20px;
      margin-top:20px;
      cursor: pointer;
      font-family: 'Montserrat', sans-serif;
      font-weight:300;
      position: relative;
     }
      .over-line div:hover{
      color:#86BB46;
  
     }
     .section4_1 .boxes{
      color:green;
      background-color:#E7F8F0;
      padding:10px;
      border-radius:5px;
     }
     .section4_1 .slider{
      width:100%;
      border:0.5px solid #B0B6BC;
      margin-top:-10px;
      position:relative;
      
     }
     
     .section4_1 .big-image{
      width:100%;
      padding-top:20px;
     
     }
     
     .section4_1 .energy{
      position:relative
     }
     .section4_1 .boldsent{
      font-weight:600;
      padding:20px;
      font-family: 'Montserrat', sans-serif;
      font-size:35px;
     }
     .section4_1 .line{
      border:none;
      border-top:1px solid rgba(128, 128, 128, 0.3);
     margin:20px 20px;
     box-shadow: 2px 0 2px rgba(128, 128, 128, 0.2);
     }
     .section4_1 .All-details{
      position: absolute;
       bottom:60px;
      left: 50px;
      width: 600px; 
      height: 500px; 
      z-index: 2; 
      color: black;
  
      background-color:white;
      box-shadow: 10px 10px 0px rgba(255, 255, 255, 0.4); 
     }
     .section4_1 .All-details .more-details{
      font-weight:300;
      padding:20px;
      font-family: 'Montserrat', sans-serif;
      font-size:20px;
     }
    
    .section4_2{
      background-color:white;
      height:100vh;
      padding:100px;
      height:150vh;
      background: linear-gradient(180deg, #FFFFFF 0%, #E7F8F0 100%);
    }
    
    
    .section4_2 .content .heading{
       color:#86BB46;
       font-family: 'Montserrat', sans-serif;
       font-size:24px;
       display:flex;
       justify-content:center;
       padding-bottom:20px;
      }
     
      .section4_2 .content .sub-heading{
        display:flex;
        justify-content:center;
        color:black;
        font-family: 'Montserrat', sans-serif;
        font-size:40px;
       }
       .section4_2 .over-line{
        display:flex;
        padding:20px;
        gap:20px;
        margin-top:20px;
        
        font-family: 'Montserrat', sans-serif;
        font-weight:300;
       }
       .section4_2 .boxes{
        color:green;
        background-color:#E7F8F0;
        padding:10px;
        border-radius:5px;
       }
       .section4_2 .slider{
        width:100%;
        border:0.5px solid #B0B6BC;
        margin-top:-10px;
       }
       .section4_2 .big-image{
        width:100%;
        padding-top:20px;
       
       }
       .section4_2 .energy{
        position:relative
       }
       .section4_2 .boldsent{
        font-weight:600;
        padding:20px;
        font-family: 'Montserrat', sans-serif;
        font-size:35px;
       }
       .section4_2 .line{
        border:none;
        border-top:1px solid rgba(128, 128, 128, 0.3);
       margin:20px 20px;
       box-shadow: 2px 0 2px rgba(128, 128, 128, 0.2);
       }
       .section4_2 .All-details{
        position: absolute;
         bottom:60px;
        left: 50px;
        width: 600px; 
        height: 500px; 
        z-index: 2; 
        color: black;
    
        background-color:white;
        box-shadow: 10px 10px 0px rgba(255, 255, 255, 0.4); 
       }
       .section4_2 .All-details .more-details{
        font-weight:300;
        padding:20px;
        font-family: 'Montserrat', sans-serif;
        font-size:20px;
       }
    
   
@media (max-width: 768px) {
       .section4_1,
  .section4_2 {
    padding: 50px;
    height: auto;
  }

  .section4_1 .content .heading,
  .section4_2 .content .heading {
    font-size: 18px;
    text-align: center;
  }

  .section4_1 .content .sub-heading,
  .section4_2 .content .sub-heading {
    font-size: 24px;
    text-align: center;
  }

  .section4_1 .over-line,
  .section4_2 .over-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  .section4_1 .over-line div,
  .section4_2 .over-line div {
    display: flex;
    font-size: 14px;
    gap: 13px;
    
  }

  .section4_1 .slider,
  .section4_2 .slider {
    width: 100%;
    height: 2px;
    margin-top: -5px;
  }

  

  .section4_1 .big-image,
  .section4_2 .big-image {
    width: 100%;
    height: auto;
  }

  .section4_1 .All-details,
  .section4_2 .All-details {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
    left: 0;
    bottom: 0;
    box-shadow: none;
  }

  .section4_1 .boldsent,
  .section4_2 .boldsent {
    font-size: 18px;
    text-align: center;
  }

  .section4_1 .more-details,
  .section4_2 .more-details {
    font-size: 14px!important;
    text-align: center;
    padding-top: 10px!important;
  }

  .section4_1 .boxes,
  .section4_2 .boxes {
    font-size: 14px;
    padding: 8px;
    text-align: center;
    width: auto;
  }

  .section4_1 .over-line,
  .section4_2 .over-line {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}