@media (min-width: 1024px){
.section1{
    height:1000px;
    background-color:black;
    padding-left:100px;
    color:white;
    width:auto;
    display:flex;
  
    padding-top:0px;
    margin-top:-5px;
  
    
  }
  .images{
   display:flex;
   position:relative;
  }
  .section1 .greenCircle{
    position:absolute;
    top:350px;
    left:270px;
    border-radius:50%;
  }
  .section1 .image1{
      padding-top:300px;
      padding-left:8px;
    
      height:800px; 
      width:500px;
      
  }
  .section1 .chargerr2{
    position:absolute;
    top:410px;
    left:340px;
    height:100px;
  }
  .section1 .together{
      display:flex;
      flex-direction:column;
      padding-left:20px;
      gap:40px;
  }
  .section1 .image2{
      padding-top:150px;
      height:450px;
      width:300px;
  }
  .section1 .image3{
     
      width:300px;
      height:330px;
  
  }
  .section1 .text{
    margin-left:140px;
      padding-left:0px;
      padding-top:150px;
      padding-bottom:300px;
    
  }
  .section1 .text .greene{
      font-size:18px;
      color:black;
      background-color:#00FE5E;
      padding:15px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      border-radius:5px;
      margin-top:0px;
     
  }
  .section1 .text .headline{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 55px;
  color: #FFFFFF;
  padding:40px 0px 40px 0px;
  margin-right:40px;
  }
  .section1 .text .para{
  font-style: normal;
  font-weight: 480;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  padding:10px 50px 40px 0px;
  margin-right:40px;
  }
  .section1 .text .quote{
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #00FE5E;
  
  }
  .section1 .text .list{
    display:flex;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  padding:5px;
  gap:70px;
  font-size:20px;
  
  }
 
  
  .section1 .text .list .lower{
    margin-top:15px;
    
  }
  .section1 .contact {
    font-size: 18px; 
    padding: 10px 20px; 
    margin-top:30px;
    background-color: #00FE5E; 
    color: black; 
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    border-radius:30px; 
    cursor: pointer;
    width: fit-content; 
    height: auto; }
  }
   /* Responsive Styles */
@media (max-width: 768px) {
    .section1 {
        height: auto;
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding-left:27px;
      }
    
      
    
      .section1 .image1 {
        padding-top: 17px;
        margin-top:230px;
        height: 270px;
        width: auto;
        max-width: 80%;
        padding-left:35px;
      }
    
      
     
      .section1 .chargerr2{
        margin-top:-50px;
        height:50px;
        margin-left:-127px;
      }
      
      
      .section1 .text .para {
        display: none;
      }
      .section1 .greene {
        margin-left:-390px;
        
      }
    
      .section1 .greenCircle{
        margin-left:-100px;
        margin-top:-30px;
        height:120px;
      }
      .section1 .image3 {
        height:170px;
        width:150px;
        margin-top:-9px;
    
      }
    
      .section1 .image2 {
        padding-top: 0px;
        margin-top:200px;
        height: 160px;
        width: 300px;
        max-width:100%;
        padding-left:0px;
      }
    
      .section1 .text {
        margin: 0;
        padding: 20px;
        text-align: center;
      }
    
      .section1 .text .headline {
        font-size: 23px;
        margin-top:12px;
        margin-left:-355px;
        
      }
    
      .section1 .text .para {
        font-size: 16px;
        padding: 10px;
        line-height: 24px;
      }
    
      .section1 .text .quote {
        font-size: 20px;
        margin-top:400px;
        margin-left:-509.5px;
    
      }
    
      .section1 .text .list {
        flex-direction: column;
        gap: 10px;
        margin-left:-359.5px;
        
        align-items:start;
      }
    

      .section1 .images {
        margin-top:30px;
      }
     
      .section1  .contact {
        font-size: 18px; 
        padding-bottom:-2000px; 
        margin-top:-30px;
        background-color: #00FE5E; 
        color: black; 
        border: none;
        border-radius: 5px;
        font-family: 'Montserrat', sans-serif;
        border-radius:30px; 
        cursor: pointer;
       
        height: auto;
      }
    }    